<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="AppPathLaptop" value="C:\Program Files\Notepad++\notepad++.exe"/>-->
    <add key="AppPathDesktop" value="C:\Program Files (x86)\Notepad++\notepad++.exe"/>
    <add key="DriverPath" value="C:\Program Files (x86)\Windows Application Driver\WinAppDriver.exe"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>