
.vs/slnx.sqlite
UnitTestCases/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
UnitTestCases/obj/Debug/UnitTestCases.csproj.AssemblyReference.cache
.vs/ProjectSettings.json
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/UnitTestCases/v16/.suo
.vs/VSWorkspaceState.json
UnitTestCases/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
UnitTestCases/obj/Debug/UnitTestCases.csproj.AssemblyReference.cache
UnitTestCases/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
.vs/slnx.sqlite
*.sqlite
